# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Icrus\Google Диск\Учеба\5 семестр\WEB\Лабораторные работы\RMI\ServerSide\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
